* {
  margin: 0;
  padding: 0;
}

:root {
  --color0: #2c3251;
  --color1: #0e1538;
  --color2: #00ccff;
  --color3: #d400d4;
  --color4: #fff;
  --color5: #c0bfbf;
}

body {
  background: var(--color1);
  color: var(--color4);
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
}

/* ? BARRA DE NAVEGACIÓN */
nav {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-content {
  margin: auto;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

svg {
  width: 60px;
  height: 60px;
}
svg > g {
  fill: var(--color2);
  transition: 0.5s;
}
svg > g:hover {
  fill: var(--color4);
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 40px;
}
.logo label {
  margin-left: 30px;
  font-size: 35px;
  letter-spacing: -1px;
  font-weight: 600;
  color: var(--color2);
}
.logo label:hover {
  color: var(--color4);
  cursor: pointer;
  transition: 0.5s;
}

.menu-items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.menu-items li {
  margin: 0 20px;
}
.menu-items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: var(--color4);
}
.menu-items li a:hover {
  color: var(--color2);
  cursor: pointer;
  transition: 0.5s;
}
.btn-menu {
  margin-right: 30px;
  font-size: 25px;
  cursor: pointer;
  display: none;
  color: var(--color2);
}
.btn-menu:hover {
  color: var(--color4);
}
ul.show {
  top: 65px;
}

/* ? CONTENIDO */
.container {
  max-width: 1200px;
  margin: 20px 20px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.main-box {
  position: relative;
  width: 100vw;
  height: 550px;
  border-radius: 20px;
  margin: auto;
  margin: 30px 20px;
  padding: 40px;
  background: linear-gradient(var(--color2), var(--color3));
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--color1);
  border-radius: 20px;
}
.box-text {
  position: relative;
  z-index: 2;
  width: 50%;
  color: var(--color4);
  display: flex;
  flex-direction: column;
}
.box-image {
  position: relative;
  z-index: 2;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-image img {
  position: absolute;
  width: 60%;
  transition: 0.6s;
}
.box-image img:hover {
  transform: scale(1.1);
}
.box-text p:nth-child(1) {
  font-size: 65px;
  font-weight: 600;
  transition: 0.6s;
}
.box-text p:nth-child(1):hover {
  color: var(--color2);
  cursor: pointer;
}
.box-text p:nth-child(2) {
  font-size: 30px;
}
.box-text p:nth-child(3) {
  font-size: 20px;
  margin: 25px 0;
}
.box-text button {
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color4);
  padding: 15px;
  border-style: none;
  border-radius: 10px;
  background-color: var(--color3);
  font-size: 18px;
  cursor: pointer;
  transition: 0.6s;
}
.box-text button:hover {
  background-color: var(--color2);
  cursor: pointer;
}
/* ? BANNER */
.banner,
.banner-2 {
  width: 100%;
  margin: 60px 20px;
  text-align: center;
}
.banner p:nth-child(1) {
  color: var(--color3);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.banner p:nth-child(1) > b {
  font-size: 30px;
  letter-spacing: -1px;
  cursor: pointer;
}
.banner-2 p:nth-child(1) {
  color: var(--color2);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* ? CARDS */
.card-box {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.card {
  width: calc(50% - 20px);
  margin-bottom: 30px;
}
.card-col {
  position: relative;
  height: 250px;
  width: 100%;
  background: linear-gradient(var(--color3), var(--color2));
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-col::after {
  position: absolute;
  content: "";
  inset: 4px;
  background-color: var(--color1);
  border-radius: 20px;
}
.card-img {
  position: relative;
  z-index: 2;
  width: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img img {
  position: absolute;
  width: 75%;
}
.card-content {
  position: relative;
  z-index: 2;
  width: 70%;
  padding: 10px;
}
.card-content p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* ? PARRILA DE CURSOS */
.cursos-contanier {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.title {
  width: 100%;
  margin: 20px 20px;
}
.title p {
  color: var(--color3);
  font-size: 35px;
  font-weight: 600;
  transition: 0.6s;
}
.title p:hover {
  color: var(--color2);
}

/* ? CAJAS DE CURSOS */
.grid-cursos {
  margin: 10px 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.box {
  position: relative;
  width: calc(33% - 20px);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.box::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 240%;
  background: linear-gradient(var(--color2), var(--color3));
  animation: animate 5s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #0e1538;
  border-radius: 20px;
}
.box i {
  position: relative;
  color: var(--color5);
  font-size: 6em;
  z-index: 2;
  transition: 0.6s;
  cursor: pointer;
  margin-bottom: 20px;
}
.box i:hover {
  color: var(--color4);
  transform: scale(1.1);
}
.box p {
  z-index: 2;
  text-align: center;
  color: var(--color5);
  font-size: 20px;
  font-weight: bold;
  transition: 0.6s;
  cursor: pointer;
  padding: 10px;
}
.box p:hover {
  color: var(--color4);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ? FOOTER */
footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.footer {
  margin: auto;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.footer label {
  margin-left: 30px;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 600;
  color: var(--color2);
  transition: 0.5s;
}
.footer label:hover {
  color: var(--color3);
  cursor: pointer;
}

.footer-items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.footer-items li {
  margin: 0 20px;
}
.footer-items li a {
  text-decoration: none;
  font-size: 25px;
  display: block;
  color: var(--color4);
  cursor: pointer;
}
.fa-facebook,
.fa-instagram,
.fa-whatsapp,
.fa-youtube,
.fa-tiktok {
  transition: 0.6s;
}
.footer-items li a .fa-facebook:hover {
  color: #3b5998;
}
.footer-items li a .fa-instagram:hover {
  color: #c13584;
}
.footer-items li a .fa-whatsapp:hover {
  color: #25d366;
}
.footer-items li a .fa-youtube:hover {
  color: #ff0000;
}
.footer-items li a .fa-tiktok:hover {
  color: #69c9d0;
}
.congrats {
  background-color: var(--color0);
  padding: 10px;
  text-align: center;
}
.congrats a {
  text-decoration: none;
  font-size: 15px;
  color: var(--color2);
  transition: 0.6s ease;
}
.congrats a:hover {
  color: var(--color3);
}

/* ? MEDIA QUERIES */
@media screen and (max-width: 1124px) {
  .main-box {
    height: 450px;
  }
}

@media screen and (max-width: 900px) {
  nav,
  .nav-content {
    height: 65px;
  }
  svg {
    width: 50px;
    height: 50px;
  }
  .btn-menu {
    display: inline-flex;
  }
  .menu-items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: rgba(0, 0, 0, 0.9);
    top: -100vh;
    text-align: center;
    transition: all 0.6s;
    flex-direction: column;
    z-index: 3;
  }
  .menu-items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu-items li:hover {
    background: none;
  }
  .menu-items li a {
    font-size: 20px;
    color: var(--color2);
    font-weight: bold;
  }
  .menu-items li a:hover {
    color: var(--color4);
  }
  .logo {
    padding-left: 20px;
  }
  .logo label {
    font-size: 30px;
  }
  .main-box {
    height: 400px;
  }
  .box-text p:nth-child(1) {
    font-size: 50px;
  }
  .box-text p:nth-child(2) {
    font-size: 25px;
  }
  .box-text p:nth-child(3) {
    font-size: 15px;
  }
  .box-text button {
    width: 70%;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .menu-items li {
    margin: 5px 0 0 0;
  }
  .menu-items {
    overflow: hidden;
    height: calc(100% - 65px);
  }
}

@media screen and (max-width: 700px) {
  .main-box {
    flex-direction: column;
    align-content: center;
    height: 500px;
    width: 100%;
  }
  .main-box button {
    width: 50%;
  }
  .box-text {
    width: 100%;
    height: 50%;
  }
  .box-image {
    width: 100%;
    height: 50%;
    align-content: stretch;
  }
  .box-image img {
    width: 40%;
  }
.banner, .banner-2 {
  text-align: justify;
}
  .card-col {
   flex-direction: column;
   align-items: center;
   height: 350px;
   padding: 10px;
  }
  .card-img {
   height: 100%;
  }
  .card-img img {
   width: 100%;
  }
  .card-content {
   width: 80%;
   height: 50%;
  }
  .card-content p:nth-child(1) {
  font-size: 20px;
  }

  .box {
    width: calc(50% - 20px);
    height: 350px;
  }
  .box i {
    font-size: 5em;
  }
  .box p {
    font-size: 17px;
  }
}

@media screen and (max-width: 584px) {
  .card-box {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .card-img {
    height: 50%;
    margin: 15px 0;
  }
  .card-content {
    width: 90%;
  }
  .footer {
    height: 60px;
  }
  .footer label, .footer-items li a {
    font-size: 17px;
  }
  .congrats, .congrats a {
    font-size: 10px;
  }
}

@media screen and (max-width: 464px) {

  .main-box button {
    width: 60%;
  }
  .box-image img {
    width: 60%;
  }

  .box {
    width: calc(100% - 40px);
    height: 300px;
  }
  .box i {
    font-size: 5em;
  }
  .box p {
    font-size: 17px;
  }
}
